<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="static/css/resourcesstyles.css">
</head>
<body>
    <header>
        <!--The title of web page-->
        <div class="container">
            <h1>Quantifying Carbon Stock: the Roseburn Path</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="home-btn">Home</a></li>
                </ul>
            </nav>
        </div>
        <!--The description below the title -->
        <div class="container">
            <ul>
                <p style="margin-bottom: 0.3rem;">The loss of carbon stock is just one potential impact of the tramline extension. Some resources are provided below, 
                    to help individuals further explore the topic and consider dimensions that are outwith the scope of this project, 
                    such as active travel or the employment the tramline could generate.</p>
            </ul>
        </div>
    </header>
    <main>
        <!--The first box-->
        <div class="resource-section">
            <h2>City of Edinburgh Council</h2>
            <ul>
                <li>
                    <p>
                        The latest information around the tramline proposal can be found on the City of Edinburgh Council website:
                    <a href="https://www.edinburgh.gov.uk/public-transport/trams-granton-bioquarter-beyond/2" target="_blank">Trams from Granton to the Bioquarter and beyond (Latest update)</a></li>
                    </p>
                <li>
                    <p>
                        Background information to the project:
                    <a href="https://www.edinburgh.gov.uk/public-transport/trams-granton-bioquarter-beyond" target="_blank">Trams from Granton to the Bioquarter and beyond</a></li>
                
                    </p>
                <li>
                    <p>
                        Report to the Transport and Environment Committee, justifying the proposal:
                    <a href="https://democracy.edinburgh.gov.uk/documents/s66427/Item%207.3%20Tram%20from%20Granton%20to%20BioQuarter%20and%20Beyond%20Consultation%20for%20Strategic%20Business%20Case%20Develop.pdf" 
                    target="_blank">
                        Tram from Granton to BioQuarter and Beyond: 
                        Consultation for Strategic Business Case Development
                        </a></li>
                </p>
            </ul>
        </div>
        <!--The second box-->
        <div class="resource-section">
            <h2>Save the Roseburn Path Campaign</h2>
            <ul>
                <li>
                    <p>
                        The campaign’s website
                    <a href="https://www.savetheroseburnpath.com/" target="_blank">Save the Roseburn Path</a></li>

                    </p>
                <p>The Save the Roseburn Path Campaign also have an active social media presence, and regularly post updates:</p>
                
                <li>
                    <p>
                        The campaign’s Facebook page:
                    <a href="https://www.facebook.com/groups/914482190342598/" target="_blank">Save The Roseburn Path Facebook</a></li>
                
                    </p>
                <li>
                    <p>
                        The campaign’s Instagram account:
                    <a href="https://www.instagram.com/savetheroseburnpath?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Save The Roseburn Path Instagram</a></li>
                    </p>
                <li>
                    <p>
                        The Edinburgh Liberal Democrats have also voiced their support to save the path:
                    <a href="https://www.edinburghlibdems.org/roseburn-path" target="_blank">Save the Telford / Roseburn path</a></li>
                    </p>
            </ul>
        </div>
        <!--The third box-->
        <div class="resource-section">
            <h2>Biodiversity, Nature, and Climate Action</h2>
            <ul>
                <li>
                    <p>
                        The Edinburgh Biodiversity Action Plan (2022-2027), noting the need to preserve and increase natural carbon stores:
                    <a href="https://www.edinburgh.gov.uk/downloads/file/33491/edinburgh-biodiversity-action-plan-2022-2027" target="_blank">EDINBURGH BIODIVERSITY 
                        ACTION PLAN</a></li>
                    </p>
                <li>
                    <p>
                        The One Million Tree Project:
                    <a href="https://www.edinburgh.gov.uk/parks-greenspaces/one-million-tree-city" target="_blank">One million tree city</a></li>
                    </p>
            </ul>
        </div>
        <!--The forth box-->
        <div class="resource-section">
            <h2>Active travel</h2>
            <ul>
                <li>
                    <p>
                        Statistics available for Roseburn Path usage:
                    <a href="https://usmart.io/org/cyclingscotland/" target="_blank">Cycling Open Data</a></li>
                    </p>
                <li>
                    <p>
                        Report exploring the active travel (walking and cycling) in Edinburgh in 2023:
                    <a href="https://www.sustrans.org.uk/media/13315/walking-and-cycling-index-2023-edinburgh.pdf" target="_blank">Walking and 
                        Cycling Index 2023</a></li>
                    </p>
            </ul>
        </div>
        <!--The fifth box-->
        <div class="resource-section">
            <h2>Local Reporting on the Tramline Proposal</h2>
            <ul>
                <li>
                    <p>
                        The Edinburgh Evening News:
                    <a href="https://www.edinburghnews.scotsman.com/news/edinburghs-new-north-south-tram-route-set-to-take-over-popular-roseburn-cycle-path-4494619" target="_blank">
                        Edinburgh's new north-south tram route set to take over popular Roseburn cycle path</a></li>
                    </p>
                <li>
                    <p>
                        The Edinburgh Reporter:
                    <a href="https://theedinburghreporter.co.uk/2024/06/tram-to-granton-the-options-discussed/" target="_blank">Tram to Granton – the options discussed</a></li>
                    </p>
                <li>
                    <p>
                        The Scotsman:
                    <a href="https://www.scotsman.com/news/transport/roseburn-path-the-battle-over-whether-an-old-edinburgh-rail-line-should-become-a-tram-route-4602356" target="_blank">
                        Roseburn Path: The battle over whether an old Edinburgh rail line should become a tram route</a></li>
                    </p>
            </ul>
        </div>

    
    <!--The download box-->
    <div class="resource-section">
        <h2>Reports</h2>
        <p>
            Download Our Report:
            <!--report download link here-->
            <a href="{{ url_for('static', filename='download/roseburn_path_report.pdf') }}" download>Quantifying the Carbon Stock of the Roseburn Path (.PDF)</a>
        </p>
    </div>
    
    <div class="resource-section">
        <h2>Our Data</h2>
        <p>
            <div style="align-items: left;">
                The data used to produce maps in this website is provided below. This data has been made available to allow – and indeed, encourage – 
                other parties to explore the information and carry out their own analyses.
            </div>
            
        </p>
        <ul>
            <!--csv data download link here-->
            <li><a href="{{ url_for('static', filename='download/roseburntrees.csv') }}" download>Download our tree Data (roseburntrees.csv)</a></li>
            <div style="align-items: left;">
                roseburntrees.csv contains the coordinates, species type, and dryweight biomass for sampled trees. The first three rows of the file contain metadata. 
                Users can explore this data in geospatial software of their choosing; an example of how this can be done in QGIS is provided.
            </div>
            <p>How to import csv file into your GIS software?
                <!--tutorial pictures here-->
                <div style="align-items: left;">
                <strong>Step.1</strong> Download the tree data file.
                <br>
                <strong>Step.2</strong> Open 'Delimited Text' tab, choose the csv file, then click 'add'.
                <br>
                <img src="static\img\import_tutorial1.png" >
                <br>
                <strong>Step.3</strong> Check our plots on your computer!
                <br>
                <img  src="static\img\import_tutorial2.png" >
                </p> 
              
            
            <!--tif download link here-->
            <li><a href="{{ url_for('static', filename='download/carbon&biomass.zip') }}" download>Download the Result of Biomass and Carbon (.tif files in a .zip)</a></li>
            <p>
                roseburnbiomass.tif provides aboveground biomass density throughout the study area. Units: kg/m2. Projection: WGS 84 Pseudo-Mercator (EPSG:3857)
                <br>
                roseburncarbon.tif provides estimated carbon throughout the study area. Units: kg. Projection: Pseudo-Mercator (EPSG:3857)
            </p>  
            
            <!--boundary and tramline data download link here-->
            <li><a href="{{ url_for('static', filename='download/boundary&tramline.zip') }}" download>Download Boundary and Tramline Data (.zip)</a></li>
            <p>
                roseburn_path_removal.kmz shows the area of path that would be lost if the tramline proposal were to proceed (as estimated by the project team, using Google Earth Pro).
                <br>
                tramline.gpkg shows a section of the proposed tramline (as defined the City of Edinburgh Council).
            </p>
            <!--all the data download link here-->
            <li><a href="{{ url_for('static', filename='download/roseburn_path_data.zip') }}" download>Download All Data (.zip)</a></li>
        </ul></div>
    </div>
</main>
</body>
</html>
